# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Uploaded images (runtime temp folder)
uploads/*
!uploads/.gitkeep



# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db